form{
    border:2px solid burlywood;
    width:fit-content;
    text-align:center;
    padding:50px;
    margin:auto;
    background:linear-gradient(rgb(230, 94, 94),pink)
}
.error{
    color:rgb(21, 0, 255);
}
