.sidenav-container {
  height: 100%;
  
}

.sidenav {
  width: 200px;
    background-color: rgb(129, 129, 215);
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgb(74, 220, 233);
}
mat-nav-list{
  background-color: antiquewhite;
  height:100%;
}

mat-sidenav-container {
  margin-top: 64px; /* height of toolbar */
}

.content {
  padding: 16px;
}

a.active {
  background: rgba(0, 0, 0, 0.1);
}