.container {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
h2{
    text-align:center;
}

input, button {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}
button{
    background-color: green;
}

.error {
  color: red;
  font-size: 0.9em;
}