//Task1
<div class="Task1"><h1>1.Show/Hide Toggle</h1>
<button style="background-color:orange" (click)="toggleTips()">
  {{ showTips ? 'Hide Tips' : 'Show Tips' }}
</button>
<div *appToggle="showTips" class="tips">
  <h3 style="color:blue">Drink more water</h3>
</div>
</div>
<br><br>
//Task2
<div class="Task2">
<h1>2.HighLight</h1>
<ul>
  <p>Items</p>
  <li appAppHoverHighlight="lightyellow">Apple</li>
  <li appAppHoverHighlight="lightyellow">Banana</li>
  <li appAppHoverHighlight="lightyellow">Grape</li>
</ul>
<br><br>
</div>
//Task3
<h1>3.Disable Input</h1>
<button (click)="toggleDisable()">
  {{ Disabled ? 'Enable Input' : 'Disable Input' }}
</button>
<br><br>
<input
  type="text" [disabled]="Disabled" [ngClass]="{ 'grey-background': Disabled }">
  <br><br>
//Task4
<div class="Task4">
<h1>4.Switch User-admin</h1>
<button (click)="toggleRole()">
  Switch to {{ userRole === 'admin' ? 'User' : 'Admin' }}
</button>
<p>Current Role: {{ userRole }}</p>
<div *ngIf="userRole === 'admin'">
  <h3>Admin Dashboard</h3>
  <p>Only admin can access.</p>
</div>
<div *ngIf="userRole === 'user'">
  <h3>User Dashboard</h3>
  <p>Only user can access.</p>
</div>
</div>
<br><br>
//Task5
<h1>5.Resize window</h1>
<div
  #resizableDiv
  [ngStyle]="{ 'background-color': boxColor, 'height': '50px', 'width': '200px' }"
  class="resizable-box">
  Width: {{ elementWidth }}px | Height: {{ elementHeight }}px
</div>
<br>
<br>
//Task6
<div class="Task6">
 <h2>6.OTP</h2>
<button
  (click)="startCountdown()"
  [disabled]="isDisabld"
  [ngStyle]="{ 'background-color': isDisabld ? 'lightgray' : '#007bff', 'cursor': isDisabld ? 'not-allowed' : 'pointer' }"
  [ngClass]="{ 'active-btn': !isDisabld }">
  {{ buttonText }}
</button> 
</div>



  

