<div class="container">
  <h1>Task 5-6</h1>
  <h2>Login Form</h2>

  <div *ngIf="!loggedInUser; else welcomeBlock">
    <input [(ngModel)]="username" placeholder="Username" /><br /><br />
    <input [(ngModel)]="password" type="password" placeholder="Password" /><br /><br />
    <button (click)="login()">Login</button>

    <p *ngIf="error" class="error">{{ error }}</p>
  </div>

  <ng-template #welcomeBlock>
    <h3>Welcome, {{ loggedInUser }}!</h3>
    <button (click)="logout()">Logout</button>
  </ng-template>
</div>
