form{
    border:2px solid rgb(11, 19, 37);
    width:250px;
    text-align:center;
    padding:50px;
    margin:auto;
    background: linear-gradient(#b8aebd, #9198e5);
    border-radius: 16px;
    color:#090c36
    
}
.error{
    color:rgb(182, 52, 29);
}
button{
    background-color: rgb(185, 167, 221);
    margin:6px
}