<form [formGroup]="resetform" (ngSubmit)="submit(resetform)">
    <h1 style="color:rgb(20, 72, 131)">Reset Form</h1>
    <div class="f1">
    <label for="name">Name  </label>
    <input type="text" id="name" formControlName="name">
    <div *ngIf="resetform.controls['name']?.touched && resetform.controls['name']?.invalid" class="error">
        Name must be entered
    </div>
    </div><br>
    <div class="f1">
    <label for="age">Age  </label>
    <input type="number" id="age" formControlName="age">
    <div *ngIf="resetform.controls['age']?.touched && resetform.controls['age']?.invalid" class="error">
        Age must be entered
    </div>
    </div><br>
    <div class="f1">
    <label for="email">Email  </label>
    <input type="email" id="name" formControlName="email">
    <div *ngIf="resetform.controls['email']?.touched && resetform.controls['email']?.invalid" class="error">
        Email must be entered 
    </div>
    </div><br>
    <div class="f1">
    <label for="city">City  </label>
    <input type="text" id="city" formControlName="city">
    <div *ngIf="resetform.controls['city']?.touched && resetform.controls['city']?.invalid" class="error">
        City must be entered
    </div>
    </div><br>
    <button type="submit">Submit</button>
    <button type="button" (click)="form()" >Reset</button>
</form>

