    title{
        text-align:center;
    }
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
      text-align:center;
      margin:auto;
      background-color: #f4f4f4;
    }

    h2 {
      color: #333;
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    input[type="number"] {
      padding: 5px;
      width: 100px;
      margin-left: 10px;
    }

    button {
      padding: 8px 16px;
      margin-top: 15px;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }
    .container{
        padding:20px;
        border:1px;
        border-radius: 14px;
    }

    .result {
      margin-top: 20px;
      font-weight: bold;
      font-size: 18px;
    }